<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Registration</h1>-->
<!--    <div>-->
<!--        <form th:action="@{/registration}" method="POST">-->
<!--            <div><label> User Name : <input type="text" name="username"/> </label></div>-->
<!--            <div><label> Password: <input type="password" name="password"/> </label></div>-->
<!--            <div><input type="submit" value="Sign Up" /></div>-->
<!--        </form>-->
<!--        <a href="login">Back</a>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->